:root {
  --main-color: #0355cc;
  --orange: #ff8a1d;
  --black: #000;
  --white: #fff;
  --grey: #3c3c3c;
  --purple: #555089;
  --light-blue: #d1e3ff;
  --dark-blue: #0a0f43;

  --heading-font-family: 'Merriweather Sans', sans-serif;
  --txt-font-family: 'Lato', sans-serif;

  --main-padding: 60px;
}

$sm-break-point: 768px;
$m-break-point: 992px;
$l-break-point: 1200px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.3;
  font-family: var(--txt-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  background-color: var(--white);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width:$sm-break-point) {
    width: 750px;
  }

  @media (min-width:$m-break-point) {
    width: 970px;
  }

  @media (min-width:$l-break-point) {
    width: 1170px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  transition: .2s;
  color: var(--white);
  border-radius: 5px;

  &:hover {
    background-color: transparent;
  }

  &--blue {
    background-color: var(--main-color);
    border-color: var(--main-color);

    &:hover {
      color: var(--main-color);
    }
  }

  &--orange {
    background-color: var(--orange);
    border-color: var(--orange);

    &:hover {
      color: var(--orange);
    }
  }
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px;
}

.special-heading {
  text-transform: uppercase;
  color: black;
  font-size: 32px;
}

.special-section {
  .container {
    @media (min-width:$sm-break-point) {
      display: flex;

      div {
        width: 50%;
      }
    }

    @media (min-width:$m-break-point) {
      align-items: center;
    }
  }

  &__detail {
    padding-bottom: 30px;

    @media (min-width:$sm-break-point) {
      padding-bottom: 0;
      padding-right: 15px;
    }

    h1,
    h2 {
      margin-bottom: 25px;
    }

    p {
      color: var(--grey);
      margin-bottom: 25px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

.header {
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  &__top {
    background: var(--black);

    .container {
      justify-content: space-between;

      p {
        a {
          color: var(--white);
          display: block;
        }

        i {
          color: var(--orange);
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }

  &__bottom {
    background-color: var(--light-blue);

    #trigger {
      display: none;

      &:checked+.container label {
        i:first-child {
          display: none;
        }

        i:last-child {
          display: block;
        }

        &+nav {
          display: block;
        }
      }
    }

    .container {
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width:$m-break-point) {
        flex-wrap: nowrap;
      }

      span a {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        color: var(--main-color);
      }

      label {
        cursor: pointer;
        display: flex;

        @media (min-width:$m-break-point) {
          display: none;
        }

        i {
          font-size: 30px;

          &:last-child {
            display: none;
          }
        }
      }

      nav {
        width: 100%;
        display: none;

        margin-top: 20px;

        @media (min-width:$m-break-point) {
          display: block;
          margin-top: 0;
        }

        ul {
          text-align: center;
          list-style: none;
          margin-top: 20px;

          @media (min-width:$m-break-point) {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-top: 0;
          }

          a {
            display: block;
            padding: 10px 20px;
            color: var(--black);
            // font-size: 16px;

            &.active,
            &:hover {
              color: var(--main-color);
            }
          }
        }
      }
    }
  }
}

.slider {
  padding-top: var(--main-padding);

  @media (min-width:$m-break-point) {
    padding-top: 0;
  }

  background-color: var(--light-blue);

  .special-section__detail {
    padding-bottom: 30px;

    h1 {
      color: var(--main-color);
      font-size: 45px;

      .break-line::after {
        content: "\a";
        white-space: pre;
      }
    }
  }
}

.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);

  @media (min-width:$m-break-point) {
    padding: 0;
    transform: translateY(-50%);
  }

  .container {
    @media (min-width:$sm-break-point) {
      display: flex;
      justify-content: space-between;

      div {
        margin: 0;
      }
    }
  }

  &__box {
    padding: 30px 40px;
    text-align: center;
    transition: .4s;
    border-radius: 5px;
    background-color: var(--white);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (min-width:$sm-break-point) {
      width: calc(100% / 3 - 20px);
    }

    svg {
      width: 100px;
      height: 100px;
      fill: var(--purple);
    }

    h4 {
      color: var(--purple);
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 30px;
    }

    &:hover {
      background-color: var(--orange);

      svg {
        fill: var(--white);
      }

      h4 {
        color: var(--white);
      }
    }
  }
}

.about {
  padding-bottom: var(--main-padding);

  .special-section__detail {
    padding-bottom: 30px;

    @media (min-width:$sm-break-point) {
      padding-bottom: 0;
      ;
    }

    @media (min-width:$m-break-point) {
      width: 40%;
      padding-right: 10px;
    }
  }

  @media (min-width:$m-break-point) {
    .special-section__img {
      width: 60%;
    }
  }
}

.professional {
  background-color: var(--light-blue);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);

  h2 {
    color: var(--main-color);
  }

  .special-section__img {
    display: none;

    @media (min-width:$sm-break-point) {
      display: block;
    }
  }
}

.special-section__detail {
  padding-bottom: 0;
}

h2 {
  color: var(--main-color);
}